{% extends 'base.html.twig' %}

{% block title %}New Forecast{% endblock %}

{% block body %}
    <h1>Create new Forecast</h1>

    {{ include('forecast/_form.html.twig') }}

    <a href="{{ path('app_forecast_index') }}" class="btn btn-secondary" style="margin-top: 10px;">Back to List</a>
{% endblock %}
