{% extends 'base.html.twig' %}

{% block title %}New City{% endblock %}

{% block body %}
    <h1>Create City</h1>

    {{ include('city/_form.html.twig') }}

    <a href="{{ path('app_city_index') }}" class="btn btn-secondary" style="margin-top: 10px;">Back to List</a>
{% endblock %}
